# Exclude specific files
# All files which are tracked by git and not explicitly excluded here are included by setuptools_scm
# Prune folders
prune build
prune docs/_build
prune docs/api
prune .github
# exclude a bunch of common hidden files, you probably want to add your own here
exclude .gitignore
exclude *.yml
exclude *.yaml
